@tailwind base;
@tailwind components;
@tailwind utilities;


.left {
    transform: rotate(90deg) skewX(-30deg) scaleY(0.864)
}

.right {
    transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
    bottom: 8em;
}

.top {
    transform: rotate(30deg) skewX(-30deg) scaleY(0.864);
    bottom: 24em;
}